# generated-files
config.mak
config.h
fbffonts.c
# object-directories
.objs*
.tobjs*
.xobjs*
bin
# target-files
*.o
*.so
*.exe
*.wasm
*.wasm.map
*.dSYM
*_g
*_debug
*.gz
html2png
qe
tqe
tqe1
xqe
xq
qe.mjs
tqe.mjs
tqe1.mjs
xqe.mjs
xq.mjs
*_g.mjs
*.worker.js
# temp-directories
doc
junk
patches
qsn
unidata
# work-directories
cur
old
nnn
new
xxx
# temp-files
.tags
f
m
t
tt
ttt
# uncommitted-files
STATS
BUGS
DONE
IDEAS
.qerc
cflags.mk
